@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-lsm: 350px;
  --breakpoint-esm: 400px;
  --breakpoint-em: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-emd: 999px;
  --breakpoint-lg: 1024px;
  --breakpoint-xlg: 1150px;
  --breakpoint-xl: 1280px;
  --breakpoint-mxl: 1300px;
  --breakpoint-1xl: 1440px;
  --breakpoint-2xl: 1530px;
  --breakpoint-3xl: 1832px;
  --breakpoint-4xl: 1920px;
}

@theme {
  --color-background: var(--background);
  --color-blue-violet: var(--blue-violet);
}

@theme {
  --font-oswald: var(--font-oswald);
  --font-mont: var(--font-montserrat);
}

:root {
  /* color  */
  --background: #221E36;
  --red: #e20e0e;
  --blue-violet: #020023;



  /* font-family  */
  --font-oswald: "Oswald", sans-serif;
  --font-montserrat : "Montserrat", sans-serif;
}

/* General-Sans-fonts  */

/* @font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-Extralight.otf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-ExtralightItalic.otf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-Italic.otf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-Light.otf") format("truetype");
  font-weight: 300;
  font-display: swap;
  
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-Regular.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-Medium.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-Semibold.otf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../../public/fonts/GeneralSans-SemiboldItalic.otf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
} */


/* General-Sans-fonts  */


body {
  background: var(--background);
  font-family: var(--font-montserrat);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {

  .container {
    @apply max-w-[1920px] px-5 mx-auto w-full;
  }

  .font-oswald {
    font-family: 'Oswald', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  /* h1 {
    @apply text-[88px] font-semibold text-(--blue-violet);
  }

  h2 {
    @apply text-[48px] font-semibold text-(--blue-violet) leading-[100%];
  }

  h3 {
    @apply  text-[32px] font-medium leading-[100%] text-(--blue-violet);
  }

  h4 {
    @apply text-[24px] font-semibold text-(--purple) leading-[115%];
  }

  .basic-transition {
    @apply transition ease-linear duration-300;
  } */
}


.arrow-top::after {
  content: "";
  position: absolute;
  right: 70px;
  top: -4px;
  border-top: none;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #1f1f1f;
}