@import "tailwindcss";

/* Default light theme */
:root {
  --color-bg: #f9fafb;
  --color-text: #0b101c;
  --color-button-text: white;
  --color-muted: #e5e7eb;
  --color-border: #e5e7eb;
  --color-primary: #10b981;
  --color-primary-hover: #37c394;
  --color-error: #dc2626;
  --color-success: #22c55e;
  --color-google-bg: #cbcdd0;
  --color-google-hover: #e5e7eb;
  --color-disabled-bg: #c6c7cb;
  --color-disabled-text: #8c8e92;
  --color-hover-bg: #dbd5d5;
  --color-delete-hover: #e53e3e;
  --color-delete-base: #e74141;
  --color-delete-hover: #e53e3e;
  --color-delete-text: white;
}

/* Auto dark theme using system preference */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0f172a;
    --color-text: #f9fafb;
    --color-muted: #1e293b;
    --color-border: #334155;
    --color-primary: #0fa674;
    --color-primary-hover: #0fa674;
    --color-hover-bg: #484747;
    --color-error: #f87171;
    --color-google-bg: #1e293b;
    --color-google-hover: #334155;
    --color-disabled-bg: #334155;
    --color-disabled-text: #6b7280;
  }
} */

/* Manual override using .dark class */
.dark {
  --color-bg: #0f172a;
  --color-text: #f9fafb;
  --color-muted: #1e293b;
  --color-border: #334155;
  --color-primary: #0fa674;
  --color-primary-hover: #229770;
  --color-hover-bg: #484747;
  --color-error: #eb3c3c;
  --color-success: #32e674;
  --color-google-bg: #1e293b;
  --color-google-hover: #334155;
  --color-disabled-bg: #334155;
  --color-disabled-text: #6b7280;
  --color-delete-base: #e42c2c;
  --color-delete-hover: #e53e3e;
  --color-delete-text: white;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}


.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

.arrow-top::after {
  content: "";
  position: absolute;
  right: 70px;
  top: -4px;
  border-top: none;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 6px solid var(--color-muted);
}

.custom-toast {
  background-color: var(--color-muted) !important;
  color: var(--color-text) !important;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

/* Success toast */
.success-toast {
  border-left: 4px solid var(--color-success, #22c55e); /* fallback green */
}

/* Error toast */
.error-toast {
  border-left: 4px solid var(--color-error, #ef4444); /* fallback red */
}